@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
    
:root {
  --soft-blue:hsl(215, 51%, 70%);
  --cyan:hsl(178, 100%, 50%);
  --main-bg:hsl(217, 54%, 11%);
  --card-bg:hsl(216, 50%, 16%);
  --line:hsl(215, 32%, 27%);
  --white:hsl(0, 0%, 100%);

  --font-small: 0.85rem;
  --font-medium: 1.25rem;
  --font-large: 1.5rem;
  --font-xlarge: 1.75rem;

}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
  margin:0;
}

body {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  overflow-x: hidden;
  overflow-y: hidden;
}

.card-container {
    width: 75rem;
    margin: 0 auto;
    height: 10rem;
    margin-top:10rem;
    background:orange;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding:1rem;
}

.card {
    padding: 2rem;
    background-color: var(--card-bg);
    border-radius:.5rem;
}

.card-preview {
    width: 20rem;
    height: 20rem;
    background-color:red;
    background-image:url("images/image-equilibrium.jpg");
    background-size:cover;
    margin-bottom:1.5rem;
    border-radius:.5rem;
}

.item-container {
    width: 20rem;
    /* background: brown; */
}

.item-info {
    margin-bottom: 1rem;
}

.item-info h1{
    font-size: var(--font-large);
    color:var(--white);
    font-weight:400
}

.item-info>h1, .item-info>p{
    margin-bottom: 1rem;
}

.item-sale-info p, .creator-profile-text p, .item-info p {
    font-size: var(--font-medium);
    color:hsl(215 32% 50% / 1);
}
.price>*, .time>* {
    display:inline-block;
}

.price p{
    color:var(--cyan);
    font-weight:600;
    font-size:var(--font-medium);
}

.item-sale-info {
    display: flex;
    justify-content: space-between;
}


.separator {
    height: 0;
    border-top: 3px solid  var(--line);
    margin-bottom: 1rem;
}
.item-creator{
    display: flex;
}

.creator-profile {
    width:2rem;
    height:2rem;
    background-image:url(images/image-avatar.png);
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 1rem;
}

.creator-profile-text a{
    color: var(--white);
    text-decoration: none;
}


























/* Color-pallet  */
.color-pallett {
  display:flex;
  flex-direction: column;
  position: absolute;
  top:0;
  right:0;
  outline: 2px solid black;
}

.color-pallett div[class*="color-n"]{
    width: 10rem;
    height: 10rem;
}

.color-n1{background:var(--soft-blue)}
.color-n2{background:var(--cyan)}
.color-n3{background:var(--main-bg)}
.color-n4{background:var(--card-bg)}
.color-n5{background:var(--line)}
.color-n6{background:var(--white)}