@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --primary-very-dark-blue: hsl(233, 47%, 7%);
  --primary-desaturated-blue: hsl(244, 38%, 16%);
  --primnary-soft-violet: hsl(277, 64%, 61%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  background-color: var(--primary-very-dark-blue);
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.card {
  background-color: var(--primary-desaturated-blue);
  width: 20rem;
  border-radius: 5px;
}
.card-heading {
  border-radius: 5px 5px 0 0;
  background-color: var(--primnary-soft-violet);
  overflow: hidden;
  height: 234px;
}
.card-heading img {
  width: 100%;
  opacity: 0.7;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.card-heading img.desktop-img {
  display: none;
}
.card-content {
  padding: 2rem 1.5rem;
  color: var(--neutral-white);
}
.card-content h1 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.card-content .accent {
  color: var(--primnary-soft-violet);
}
.card-content > p {
  color: var(--neutral-slightly-transparent-white-2);
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.card-stat-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.card-stat-list ul li p.card-stat-number {
  font-size: 1.3rem;
  font-weight: 700;
}
.card-stat-list ul li p.card-stat-category {
  color: var(--neutral-slightly-transparent-white-2);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 3px;
}

@media only screen and (min-width: 1200px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    width: 77rem;
  }
  .card-heading {
    width: 102rem;
    height: 482px;
    border-radius: 0 5px 5px 0;
  }
  .card-heading img.mobile-img {
    display: none;
  }
  .card-heading img.desktop-img {
    display: block;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 9rem 4rem 5rem;
  }
  .card-content h1,
  .card-content > p,
  .card-stat-list ul {
    text-align: left;
  }
  .card-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .card-content p {
    font-size: 1.2rem;
  }
  .card-stat-list ul {
    flex-direction: row;
    justify-content: space-between;
  }
  .card-stat-list ul li p.card-stat-number {
    font-size: 1.5rem;
  }
  .card-stat-list ul li p.card-stat-category {
    font-size: 0.7rem;
  }
}
