@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);

    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    /* background: var(--primary-cobalt-blue); */
    width: 665px;
    display: flex;
    /* padding: 35px 0; */
    border-radius: 20px;
    box-shadow: 10px 11px 20px 0px hsl(241deg 100% 89% / 35%);
}

.result-page {
    width: 50%;
    padding: 0 35px;
    background: linear-gradient(212deg, hsl(252deg 59.7% 57.02%), hsl(246.46deg 81.96% 32.89%));
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;  
    text-align: center;
}

.result-page h1 {
    color: #c5c5c5;
}

.result-page h2{
    margin-bottom: 15px;
    font-size: 29px;
}

.result-page .detail {
    font-size: 15px;
    font-weight: 100;
    padding: 0 22px;
    color:hsl(241, 100%, 89%);
}
.score {
    background: linear-gradient(212deg, hsl(252deg 59.7% 57.02%), hsl(246.46deg 81.96% 32.89%));
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.score span{
    font-weight: 900;
    font-size: 61px;
}

.hundred {
    font-size: 15px;
    font-weight: 100;
    color: hsl(241, 100%, 82%);
}

.summary-page {
    width: 50%;
    background: white;
    padding: 0 40px;
}

.page {
    padding: 35px 35px 56px 35px;
    border-radius: 34px;
}

.title {
    font-size: 23px;
    margin-bottom: 30px;
    font-weight: 100;
}

.category-score span {
    color: grey;
}
.category-text {
    font-weight: 700;
}
.category:nth-child(1){
    background: hsl(0, 100%, 96%);
}
.react-text{
    color: var(--primary-light-red);
}

.category:nth-child(2){
    background: hsl(39, 100%, 94%);
}
.memory-text{
    color: var(--primary-orangey-yellow);
}
.category:nth-child(3){
    background: hsl(166, 100%, 93%);
}
.vervbal-text{
    color: var(--primary-green-teal);
}

.category:nth-child(4){
    background: hsl(234, 85%, 95%);
}
.visual-text{
    color: var(--primary-cobalt-blue);
}

.category {
    display: flex;
    line-height: 46px;
}

.category-wrap {
    display: flex;
}

.category-wrap img{
    margin: 0 13px;
}

.category-score {
    margin-right: 21px;
}

.summary-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-page ul {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    margin-bottom: 24px;
}

.summary-page ul li {
    list-style:none;
    border-radius: 5px;
    height: calc(100% / 4 - 10px);
    justify-content:space-between;
}

button {
    border: none;
    outline: none;
    background: var(--neutral-dark-gray-blue);
    color: white;
    width: 100%;
    border-radius: 45px;
    padding: 17px 0;
    font-size: 18px;
}
.attribution { font-size: 11px; text-align: center;     margin-top: 77px;}
.attribution a { color: hsl(228, 45%, 44%); }